/*RESET---------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
.z-reset,
.z-reset table, .z-reset caption, .z-reset tbody, .z-reset tfoot, .z-reset thead, .z-reset tr, .z-reset th, .z-reset td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-touch-callout: none; }

/*HTML----------------------------------------------------------------------------------------------------------------*/
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 0.75em;
  line-height: 1.5; }

html,
body {
  height: 100%; }

/*BODY----------------------------------------------------------------------------------------------------------------*/
body {
  font-size: 100%; }

/*HTML5 display-role reset for older browsers-------------------------------------------------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*HEADINGS------------------------------------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 700; }

h1 {
  font-size: 40px;
  font-size: 3.333rem;
  line-height: 1.35; }

h2 {
  font-size: 24px;
  font-size: 2rem;
  line-height: 2.25; }

h3 {
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 3; }

h4 {
  font-size: 14px;
  font-size: 1.167rem;
  line-height: 3.857; }

h5, h6 {
  font-size: 12px;
  font-size: 1rem;
  line-height: 1.5; }

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0; }

/*LISTS---------------------------------------------------------------------------------------------------------------*/
ul, ol {
  list-style-position: inside;
  margin: 0 0 19px;
  padding: 0; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-left: 20px; }

/*TEXT ELEMENTS-------------------------------------------------------------------------------------------------------*/
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif; }

p {
  margin: 0 0 1.5em; }

p + p {
  margin-top: -1.5em;
  text-indent: 2em; }

strong {
  font-weight: 700; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

pre,
code {
  font-size: 1.1em;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.9em; }

sub {
  vertical-align: baseline;
  position: relative;
  bottom: -0.9em; }

::-moz-selection {
  background: #b8de0c;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #b8de0c;
  color: #fff;
  text-shadow: none; }

abbr[title="et cetera"] {
  font-family: "Hoefler Text", Palatino, Constantia, "Palatino Linotype", cursive;
  font-style: italic;
  font-size: 1.2em;
  line-height: 0; }

hr {
  display: block;
  border: 0;
  border-top: 1px solid #bfbfbf;
  height: 1px;
  padding: 0;
  clear: both;
  float: none;
  width: 100%;
  margin: 0.667em 0; }

.ie6 hr {
  margin: -8px auto 11px; }

/*LINKS---------------------------------------------------------------------------------------------------------------*/
a img {
  border: none; }

a:hover,
a:active {
  outline: 0; }

/*IMAGES---------------------------------------------------------------------------------------------------------------*/
img {
  page-break-inside: avoid;
  vertical-align: middle; }

.lte7 img {
  -ms-interpolation-mode: bicubic;
  behavior: expression(runtimeStyle.scrollbarFaceColor = '#fff', (alt&&!title) ? title = '' : '' ); }

/*TABLES--------------------------------------------------------------------------------------------------------------*/
table,
.z-reset table,
table.z-reset {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: 500; }

/*MISC----------------------------------------------------------------------------------------------------------------*/
svg:not(:root) {
  overflow: hidden; }

audio:not([controls]) {
  display: none; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*FORMS---------------------------------------------------------------------------------------------------------------*/
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #dddddd url(img/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  background-image: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  background-image: -webkit-linear-gradient(top center, #fff 0%, #ddd 100%);
  background-image: -o-linear-gradient(top center, #fff 0%, #ddd 100%);
  background-image: -ms-linear-gradient(top center, #fff 0%, #ddd 100%);
  background-image: linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  color: #333;
  cursor: pointer;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  padding: 3px 10px;
  -moz-text-shadow: white 0 1px 1px;
  -webkit-text-shadow: white 0 1px 1px;
  text-shadow: white 0 1px 1px;
  -webkit-appearance: none;
  width: auto; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  top: 3px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  background-color: #fff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 13px;
  font-size: 1.083rem;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 1.8em;
  outline: 0;
  padding: 2px 3px;
  width: 100%; }

textarea:hover,
select:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover {
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }

textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border: 1px solid #4D90FE;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  outline: medium none; }

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default; }

textarea,
select[size],
select[multiple] {
  height: auto; }

textarea {
  min-height: 40px;
  overflow: auto;
  resize: none;
  width: 100%; }

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal; }

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  z-index: 1; }

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*Tweaks for Safari + Chrome------------------------------------------------------------------------------------------*/
select:before {
  content: "";
  background-image: url(img/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

select {
  position: relative;
  scrollbar-arrow-color: red; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(img/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0; }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0; } }
/*iPad----------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px; } }
/*iPhone 3------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
/*iPhone 4------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
/*--------------------------------------------------------------------------------------------------------------------*/
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

::-webkit-input-placeholder {
  color: #888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888; }

input.z-placeholder-text,
textarea.z-placeholder-text {
  color: #888; }

:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*INTERNET EXPLORER---------------------------------------------------------------------------------------------------*/
.lte7 button,
.lte7 input {
  overflow: visible; }

.lte7 table button,
.lte7 table input {
  overflow: auto; }

.lte7 legend {
  margin-left: -7px; }

.lte7 textarea,
.lte7 select,
.lte7 input[type="date"],
.lte7 input[type="datetime"],
.lte7 input[type="datetime-local"],
.lte7 input[type="email"],
.lte7 input[type="month"],
.lte7 input[type="number"],
.lte7 input[type="password"],
.lte7 input[type="search"],
.lte7 input[type="tel"],
.lte7 input[type="text"],
.lte7 input[type="time"],
.lte7 input[type="url"],
.lte7 input[type="week"] {
  padding-top: 2px;
  padding-bottom: 1px;
  height: auto;
  display: block; }

input[type="checkbox"],
input[type="radio"] {
  top: 0\0; }

.lte7 input[type="checkbox"],
.lte7 input[type="radio"] {
  top: -3px; }

.ie6 textarea,
.ie6 select {
  padding: 2px 3px 1px;
  vertical-align: top; }

.ie6 select {
  margin-top: 1px; }

.g-clear {
  clear: both; }

.g-clear-l {
  clear: left; }

.g-clear-r {
  clear: right; }

.g-clear-o {
  overflow: hidden; }

.g-clearfix:before, .g-clearfix:after, .z-grid:after, .z-grid:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.g-clearfix:after, .z-grid:after {
  clear: both; }

.lte7 .g-clearfix, .lte7 .z-grid {
  zoom: 1; }

.g-nav, .g-nav ol,
.g-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.g-nav-horizontal .z-item {
  display: inline-block; }

.lte7 .g-nav-horizontal .z-item {
  display: inline; }

.g-font-10 {
  font-size: 10px !important;
  font-size: 0.833rem !important; }

.g-font-11 {
  font-size: 11px !important;
  font-size: 0.917rem !important; }

.g-font-12 {
  font-size: 12px !important;
  font-size: 1rem !important; }

.g-font-13 {
  font-size: 13px !important;
  font-size: 1.083rem !important; }

.g-font-14 {
  font-size: 14px !important;
  font-size: 1.167rem !important; }

.g-font-15 {
  font-size: 15px !important;
  font-size: 1.25rem !important; }

.g-font-16 {
  font-size: 16px !important;
  font-size: 1.333rem !important; }

.g-font-17 {
  font-size: 17px !important;
  font-size: 1.417rem !important; }

.g-font-18 {
  font-size: 18px !important;
  font-size: 1.5rem !important; }

.g-font-20 {
  font-size: 20px !important;
  font-size: 1.667rem !important; }

.g-font-22 {
  font-size: 22px !important;
  font-size: 1.833rem !important; }

.g-font-24 {
  font-size: 24px !important;
  font-size: 2rem !important; }

.g-font-26 {
  font-size: 26px !important;
  font-size: 2.167rem !important; }

.g-font-30 {
  font-size: 30px !important;
  font-size: 2.5rem !important; }

.g-font-40 {
  font-size: 40px !important;
  font-size: 3.333rem !important; }

.g-line-10 {
  line-height: 0.833; }

.g-line-12 {
  line-height: 1; }

.g-line-14 {
  line-height: 1.167; }

.g-line-16 {
  line-height: 1.333; }

.g-line-18 {
  line-height: 1.5; }

.g-line-20 {
  line-height: 1.667; }

.g-hidden {
  display: none; }

.g-invisible {
  visibility: hidden; }

.g-secret {
  display: none;
  visibility: hidden; }

.g-screenreader {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); }

.g-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.lte7 .g-screenreader {
  clip: rect(1px 1px 1px 1px); }

.lte7 .g-opacity {
  filter: expression(runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.Alpha(opacity='+currentStyle.opacity*100+')');
  zoom: 1; }

[hidden] {
  display: none; }

.g-bold {
  font-weight: 700 !important; }

.g-text-right {
  text-align: right !important; }

.g-text-left {
  text-align: left !important; }

.g-text-center {
  text-align: center !important; }

.g-float-r {
  float: right !important; }

.g-float-l {
  float: left !important; }

.ie6 .g-float-r,
.ie6 .g-float-l {
  display: inline !important; }

.g-upper {
  text-transform: uppercase !important; }

.g-caps {
  font-size: 1.2em;
  font-variant: small-caps;
  letter-spacing: 1px;
  line-height: 1%;
  padding: 0 2px;
  text-transform: lowercase; }

.g-italic {
  font-style: italic; }

.g-vmiddle {
  vertical-align: middle !important; }

.g-vtop {
  vertical-align: top !important; }

.g-vbottom {
  vertical-align: bottom !important; }

.g-iblock {
  display: inline-block !important; }

.ie6 .g-iblock,
.ie7 .g-iblock {
  display: inline !important; }

.g-wide {
  width: 100% !important; }

table.g-table-fixed {
  table-layout: fixed; }

table.g-table-fixed {
  width: 100%; }

table.g-table-layout,
table.g-table-layout > tr,
table.g-table-layout > tr > td,
table.g-table-layout > tbody > tr,
table.g-table-layout > tbody > tr > td {
  vertical-align: top; }

table.g-vmiddle,
table.g-vmiddle > tr,
table.g-vmiddle > tr > td,
table.g-vmiddle > tbody > tr,
table.g-vmiddle > tbody > tr > td {
  vertical-align: middle !important; }

/*GRIDS---------------------------------------------------------------------------------------------------------------*/
.z-grid {
  margin: 0 auto;
  background: url(img/grid.png) repeat left top; }

.z-grid {
  width: 950px; }

.z-grid-col, .z-grid-col-1, .z-grid-col-2, .z-grid-col-3, .z-grid-col-4, .z-grid-col-5, .z-grid-col-6, .z-grid-col-7, .z-grid-col-8, .z-grid-col-9, .z-grid-col-10, .z-grid-col-11, .z-grid-col-12, .z-grid-col-13, .z-grid-col-14, .z-grid-col-15, .z-grid-col-16, .z-grid-col-17, .z-grid-col-18, .z-grid-col-19, .z-grid-col-20, .z-grid-col-21, .z-grid-col-22, .z-grid-col-23, .z-grid-col-24 {
  float: left;
  margin-right: 10px; }

.ie6 .z-grid-col, .ie6 .z-grid-col-1, .ie6 .z-grid-col-2, .ie6 .z-grid-col-3, .ie6 .z-grid-col-4, .ie6 .z-grid-col-5, .ie6 .z-grid-col-6, .ie6 .z-grid-col-7, .ie6 .z-grid-col-8, .ie6 .z-grid-col-9, .ie6 .z-grid-col-10, .ie6 .z-grid-col-11, .ie6 .z-grid-col-12, .ie6 .z-grid-col-13, .ie6 .z-grid-col-14, .ie6 .z-grid-col-15, .ie6 .z-grid-col-16, .ie6 .z-grid-col-17, .ie6 .z-grid-col-18, .ie6 .z-grid-col-19, .ie6 .z-grid-col-20, .ie6 .z-grid-col-21, .ie6 .z-grid-col-22, .ie6 .z-grid-col-23, .ie6 .z-grid-col-24 {
  display: inline;
  overflow-x: hidden; }

.z-grid-push, .z-grid-push-1, .z-grid-push-2, .z-grid-push-3, .z-grid-push-4, .z-grid-push-5, .z-grid-push-6, .z-grid-push-7, .z-grid-push-8, .z-grid-push-9, .z-grid-push-10, .z-grid-push-11, .z-grid-push-12, .z-grid-push-13, .z-grid-push-14, .z-grid-push-15, .z-grid-push-16, .z-grid-push-17, .z-grid-push-18, .z-grid-push-19, .z-grid-push-20, .z-grid-push-21, .z-grid-push-22, .z-grid-push-23, .z-grid-push-24,
.z-grid-pull,
.z-grid-pull-1,
.z-grid-pull-2,
.z-grid-pull-3,
.z-grid-pull-4,
.z-grid-pull-5,
.z-grid-pull-6,
.z-grid-pull-7,
.z-grid-pull-8,
.z-grid-pull-9,
.z-grid-pull-10,
.z-grid-pull-11,
.z-grid-pull-12,
.z-grid-pull-13,
.z-grid-pull-14,
.z-grid-pull-15,
.z-grid-pull-16,
.z-grid-pull-17,
.z-grid-pull-18,
.z-grid-pull-19,
.z-grid-pull-20,
.z-grid-pull-21,
.z-grid-pull-22,
.z-grid-pull-23,
.z-grid-pull-24 {
  float: left;
  position: relative; }

.z-grid-border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #ddd; }

.z-grid-colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #ddd; }

.z-grid-col-1 {
  width: 30px; }

.z-grid-append-1 {
  padding-right: 40px; }

.z-grid-prepend-1 {
  padding-left: 40px; }

.z-grid-pull-1 {
  margin-left: -40px; }

.z-grid-push-1 {
  margin: 0 -40px 1.5em 40px; }

.z-grid-col-2 {
  width: 70px; }

.z-grid-append-2 {
  padding-right: 90px; }

.z-grid-prepend-2 {
  padding-left: 90px; }

.z-grid-pull-2 {
  margin-left: -90px; }

.z-grid-push-2 {
  margin: 0 -90px 1.5em 90px; }

.z-grid-col-3 {
  width: 110px; }

.z-grid-append-3 {
  padding-right: 140px; }

.z-grid-prepend-3 {
  padding-left: 140px; }

.z-grid-pull-3 {
  margin-left: -140px; }

.z-grid-push-3 {
  margin: 0 -140px 1.5em 140px; }

.z-grid-col-4 {
  width: 150px; }

.z-grid-append-4 {
  padding-right: 190px; }

.z-grid-prepend-4 {
  padding-left: 190px; }

.z-grid-pull-4 {
  margin-left: -190px; }

.z-grid-push-4 {
  margin: 0 -190px 1.5em 190px; }

.z-grid-col-5 {
  width: 190px; }

.z-grid-append-5 {
  padding-right: 240px; }

.z-grid-prepend-5 {
  padding-left: 240px; }

.z-grid-pull-5 {
  margin-left: -240px; }

.z-grid-push-5 {
  margin: 0 -240px 1.5em 240px; }

.z-grid-col-6 {
  width: 230px; }

.z-grid-append-6 {
  padding-right: 290px; }

.z-grid-prepend-6 {
  padding-left: 290px; }

.z-grid-pull-6 {
  margin-left: -290px; }

.z-grid-push-6 {
  margin: 0 -290px 1.5em 290px; }

.z-grid-col-7 {
  width: 270px; }

.z-grid-append-7 {
  padding-right: 340px; }

.z-grid-prepend-7 {
  padding-left: 340px; }

.z-grid-pull-7 {
  margin-left: -340px; }

.z-grid-push-7 {
  margin: 0 -340px 1.5em 340px; }

.z-grid-col-8 {
  width: 310px; }

.z-grid-append-8 {
  padding-right: 390px; }

.z-grid-prepend-8 {
  padding-left: 390px; }

.z-grid-pull-8 {
  margin-left: -390px; }

.z-grid-push-8 {
  margin: 0 -390px 1.5em 390px; }

.z-grid-col-9 {
  width: 350px; }

.z-grid-append-9 {
  padding-right: 440px; }

.z-grid-prepend-9 {
  padding-left: 440px; }

.z-grid-pull-9 {
  margin-left: -440px; }

.z-grid-push-9 {
  margin: 0 -440px 1.5em 440px; }

.z-grid-col-10 {
  width: 390px; }

.z-grid-append-10 {
  padding-right: 490px; }

.z-grid-prepend-10 {
  padding-left: 490px; }

.z-grid-pull-10 {
  margin-left: -490px; }

.z-grid-push-10 {
  margin: 0 -490px 1.5em 490px; }

.z-grid-col-11 {
  width: 430px; }

.z-grid-append-11 {
  padding-right: 540px; }

.z-grid-prepend-11 {
  padding-left: 540px; }

.z-grid-pull-11 {
  margin-left: -540px; }

.z-grid-push-11 {
  margin: 0 -540px 1.5em 540px; }

.z-grid-col-12 {
  width: 470px; }

.z-grid-append-12 {
  padding-right: 590px; }

.z-grid-prepend-12 {
  padding-left: 590px; }

.z-grid-pull-12 {
  margin-left: -590px; }

.z-grid-push-12 {
  margin: 0 -590px 1.5em 590px; }

.z-grid-col-13 {
  width: 510px; }

.z-grid-append-13 {
  padding-right: 640px; }

.z-grid-prepend-13 {
  padding-left: 640px; }

.z-grid-pull-13 {
  margin-left: -640px; }

.z-grid-push-13 {
  margin: 0 -640px 1.5em 640px; }

.z-grid-col-14 {
  width: 550px; }

.z-grid-append-14 {
  padding-right: 690px; }

.z-grid-prepend-14 {
  padding-left: 690px; }

.z-grid-pull-14 {
  margin-left: -690px; }

.z-grid-push-14 {
  margin: 0 -690px 1.5em 690px; }

.z-grid-col-15 {
  width: 590px; }

.z-grid-append-15 {
  padding-right: 740px; }

.z-grid-prepend-15 {
  padding-left: 740px; }

.z-grid-pull-15 {
  margin-left: -740px; }

.z-grid-push-15 {
  margin: 0 -740px 1.5em 740px; }

.z-grid-col-16 {
  width: 630px; }

.z-grid-append-16 {
  padding-right: 790px; }

.z-grid-prepend-16 {
  padding-left: 790px; }

.z-grid-pull-16 {
  margin-left: -790px; }

.z-grid-push-16 {
  margin: 0 -790px 1.5em 790px; }

.z-grid-col-17 {
  width: 670px; }

.z-grid-append-17 {
  padding-right: 840px; }

.z-grid-prepend-17 {
  padding-left: 840px; }

.z-grid-pull-17 {
  margin-left: -840px; }

.z-grid-push-17 {
  margin: 0 -840px 1.5em 840px; }

.z-grid-col-18 {
  width: 710px; }

.z-grid-append-18 {
  padding-right: 890px; }

.z-grid-prepend-18 {
  padding-left: 890px; }

.z-grid-pull-18 {
  margin-left: -890px; }

.z-grid-push-18 {
  margin: 0 -890px 1.5em 890px; }

.z-grid-col-19 {
  width: 750px; }

.z-grid-append-19 {
  padding-right: 940px; }

.z-grid-prepend-19 {
  padding-left: 940px; }

.z-grid-pull-19 {
  margin-left: -940px; }

.z-grid-push-19 {
  margin: 0 -940px 1.5em 940px; }

.z-grid-col-20 {
  width: 790px; }

.z-grid-append-20 {
  padding-right: 990px; }

.z-grid-prepend-20 {
  padding-left: 990px; }

.z-grid-pull-20 {
  margin-left: -990px; }

.z-grid-push-20 {
  margin: 0 -990px 1.5em 990px; }

.z-grid-col-21 {
  width: 830px; }

.z-grid-append-21 {
  padding-right: 1040px; }

.z-grid-prepend-21 {
  padding-left: 1040px; }

.z-grid-pull-21 {
  margin-left: -1040px; }

.z-grid-push-21 {
  margin: 0 -1040px 1.5em 1040px; }

.z-grid-col-22 {
  width: 870px; }

.z-grid-append-22 {
  padding-right: 1090px; }

.z-grid-prepend-22 {
  padding-left: 1090px; }

.z-grid-pull-22 {
  margin-left: -1090px; }

.z-grid-push-22 {
  margin: 0 -1090px 1.5em 1090px; }

.z-grid-col-23 {
  width: 910px; }

.z-grid-append-23 {
  padding-right: 1140px; }

.z-grid-prepend-23 {
  padding-left: 1140px; }

.z-grid-pull-23 {
  margin-left: -1140px; }

.z-grid-push-23 {
  margin: 0 -1140px 1.5em 1140px; }

.z-grid-col-24 {
  width: 950px;
  margin-right: 0; }

.z-grid-append-24 {
  padding-right: 1190px; }

.z-grid-prepend-24 {
  padding-left: 1190px; }

.z-grid-pull-24 {
  margin-left: -1190px; }

.z-grid-push-24 {
  margin: 0 -1190px 1.5em 1190px; }

.z-grid-prepend-top {
  margin-top: 1.5em; }

.z-grid-append-bottom {
  margin-bottom: 1.5em; }

.z-grid-last {
  margin-right: 0;
  padding-right: 0; }

.z-grid-first {
  margin-left: 0;
  padding-left: 0; }

.z-grid-top {
  margin-top: 0;
  padding-top: 0; }

.z-grid-bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.z-grid-left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

/* Source: http://red-root.com/sandbox/holmes/ */
a:not([href]),
a[href=""] {
  outline: 2px solid red; }

a[href="#"],
a[href^="javascript"],
a:not([title]),
a[title=""] {
  outline: 2px solid #fd0; }

img:not([alt]),
img[alt=""] {
  outline: 2px solid red; }

label:not([for]),
label[for=""],
input[type="text"]:not([name]),
input[type="text"][name=""],
input[type="password"]:not([name]),
input[type="password"][name=""],
select:not([name]),
select[name=""],
textarea:not([name]),
textarea[name=""],
abbr:not([title]),
abbr[title=""],
[class=""],
[id=""],
table:not([summary]),
table[summary=""] {
  outline: 2px solid red; }

applet,
acronym,
center,
dir,
font,
strike,
u,
big,
tt,
marquee,
plaintext,
xmp {
  border: 2px solid darkgrey; }

body[bgproperties],
body[topmargin],
body[rightmargin],
body[bottommargin],
body[leftmargin] {
  outline: 2px solid darkgrey; }

*[bordercolor],
*[bordercolordark],
*[bordercolorlight],
table[frame] {
  border: 2px solid darkgrey; }

div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty {
  border: 2px solid #fd0; }
