/*FORMS------------------------------------------------------------------------------------------THANKS FORMALIZE.ME--*/
input[type="reset"],
input[type="button"],
input[type="submit"],
button
{
    @include background-clip(padding-box);
    @include border-radius(4px);
    background: #ddd url(img/button.png) repeat-x;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    @include linear-gradient('top center, #fff 0%, #ddd 100%');
    border: 1px solid;
    border-color: #ddd #bbb #999;
    color: #333;
    cursor:pointer;
    font: bold 12px/1.3 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    outline:0;
    padding: 3px 10px;
    @include text-shadow(#fff 0 1px 1px);
    -webkit-appearance:none;
    width: auto;
}
button,
input,
select,
textarea
{
    // Correct font-size not inheriting in all browsers
    font-size:100%;
    // Remove margins in FF3/4 S5 Chrome
    margin:0;
    // Define consistent vertical alignment display in all browsers
    vertical-align:baseline;
    *vertical-align:middle;
}
button,
input
{
    // Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
    line-height:normal;
}
input[type="checkbox"],
input[type="radio"]
{
    // Consistent box sizing and appearance
    @include box-sizing(border-box);
    position:relative;
    vertical-align:top;
    top:3px;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]
{
    -webkit-appearance:none;
    //
     background-color: #fff;
     -moz-background-clip: padding; // Firefox 1.0-3.6
    -webkit-background-clip: padding; // Safari 3
    background-clip:padding-box; // new browsers
    //
    border:1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    @include border-radius(0);
    @include box-sizing(border-box);
    //
    color: #000;
    @include font-size(13);
    // Leaving out Helvetica Neue, to not throw off size="..."
    // on inputs. Arial is more reliable, on Windows and OS X.
    font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 1.8em;
    outline: 0;
    padding: 2px 3px;
    width:100%;
}
textarea:hover,
select:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover
{
    border-color:#A0A0A0 #B9B9B9 #B9B9B9;
    border-right:1px solid #B9B9B9;
    border-style:solid;
    border-width:1px;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset);
}
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus
{
    border:1px solid #4D90FE;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3) inset);
    outline:medium none;
}
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled]
{
  background-color: #eee;
}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled]
{
  @include box-shadow(none);
  @include user-select(none);
  color: #888;
  cursor: default;
}
textarea,
select[size],
select[multiple]
{
  height: auto
}
textarea
{
  min-height:40px;
  overflow:auto;
  resize:none;
  width:100%;
}
optgroup
{
  color:#000;
  font-style:normal;
  font-weight:normal;
}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active
{
  //box-shadow: #06f 0 0 7px;
  @include box-shadow(0);
  // for Opera
  z-index: 1;
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active
{
  @include box-shadow(none);
}
/*Tweaks for Safari + Chrome------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 0) {
  select
  {
    background-image: url(img/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple]
  {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message
  {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow
  {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}
/*iPad----------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px)
{
  input[type="radio"],
  input[type="checkbox"]
  {
    vertical-align:baseline;
    top:2px;
  }
}
/*iPhone 3------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px)
{
  input[type="radio"],
  input[type="checkbox"]
  {
    vertical-align:baseline;
    top:0;
  }
}
/*iPhone 4------------------------------------------------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px)
{
  input[type="radio"],
  input[type="checkbox"]
  {
    vertical-align:baseline;
    top:0;
  }
}
/*--------------------------------------------------------------------------------------------------------------------*/
input[type="search"]::-webkit-search-decoration
{
    // Consistent box sizing and appearance
    -webkit-appearance: none;
    // Formilize-css edition[UI Consistency]
    display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner
{
    // Remove inner padding and border in FF3/4: http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
    border: 0;
    padding: 0;
}
::-webkit-input-placeholder
{
  color: #888;
}
input:-moz-placeholder,
textarea:-moz-placeholder
{
  color: #888;
}
input.z-placeholder-text,
textarea.z-placeholder-text
{
  color: #888;
}
:invalid
{
  // Suppress red glow that Firefox
  // adds to form fields by default,
  // even when user is still typing.
  @include box-shadow(none);
}
/*INTERNET EXPLORER---------------------------------------------------------------------------------------------------*/
.lte7 button,
.lte7 input
{
    // Correct inner spacing displayed oddly in IE6/7
    overflow: visible;
}
.lte7 table button,
.lte7 table input
{
    // Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
    overflow: auto;
}
.lte7 legend
{
    // Correct alignment displayed oddly in IE6/7
    margin-left: -7px;
}
.lte7 textarea,
.lte7 select,
.lte7 input[type="date"],
.lte7 input[type="datetime"],
.lte7 input[type="datetime-local"],
.lte7 input[type="email"],
.lte7 input[type="month"],
.lte7 input[type="number"],
.lte7 input[type="password"],
.lte7 input[type="search"],
.lte7 input[type="tel"],
.lte7 input[type="text"],
.lte7 input[type="time"],
.lte7 input[type="url"],
.lte7 input[type="week"]
{
    padding-top: 2px;
    padding-bottom: 1px;
    height: auto;
    display:block;
}
input[type="checkbox"],
input[type="radio"]
{
    top:0\0; // IE8, IE9, IE10
}
.lte7 input[type="checkbox"],
.lte7 input[type="radio"]
{
    top:-3px; // IE7
}
.ie6 textarea,
.ie6 select
{
    padding:2px 3px 1px;
    vertical-align:top;
}
.ie6 select
{
    margin-top: 1px;
}